.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
body {
    padding: 0;
    text-align: center;
    margin: 0 auto;
  }
  #game-intro {
    background-image: url(../images/space.jpg);
    background-size: cover;
    margin: 0 auto;
    height: 600px;
    width: 600px;
    position: relative;
  }
  header {
    padding-top: 20px;
  }
  h1 {
    font-family: "VT323";
    color: #e6d438e3;
    margin: 10px 0;
    font-size: 46px;
    text-shadow:  2px 2px 4px #870007;
  }
  h2 {
    margin: 0;
    font-family: "VT323";
    color: #e6d438e3;
    font-size: 46px;
    text-shadow:  2px 2px 4px #870007;
  }
  .instruction-text{
    font-family: "VT323";
    color: white;
    font-size: 20px;
    margin: 40px 10px;
    padding: 0 50px;
    text-shadow:  2px 2px 4px #870007;
  }

  .title {
    width: 400px;
    height: 200px;
  }
  .keys {
    display: flex;
    justify-content: space-evenly;
  }
  .space-button{
    height: 30px;
    width: 150px;
  }
  .arrow-buttons{
    height: 30px;
    width: 30px;
    padding: 0 5px;
  }
  .game-start {
    display: flex;
    justify-content: space;
  }
  body button {
    text-shadow:  2px 2px 4px #870007;
    font-size: 30px;
    width: 160px;
    height: 60px;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    font-family: "VT323";
  }
  .hype-text {
    font-family: "VT323";
    color: white;
    font-size: 20px;
    text-shadow:  2px 2px 4px #870007;
  }
  #game-container {
    display: flex;
    margin: 0 auto;
    height: 600px;
    width: 600px;
    padding: 20px 0px;
    justify-content: center;
  }
  
  #game-screen {
    display: none;
    align-content: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-image: url(../images/space.jpg);
    background-size: cover;
  }
  
  #game-end {
    display: none;
    background-image: url(../images/space.jpg);
    background-size: cover;
    margin: 0 auto;
    height: 600px;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .end-text {
    font-family: "VT323";
    color: white;
    font-size: 20px;
    margin: 50px 10px;
    padding: 10px 50px;
    text-shadow:  2px 2px 4px #870007;
  }
  .game-start {
    display: flex;
    padding: 50px;
justify-content: space-evenly;
  }

#alien-army {
    position: absolute;
    left: 0;
    top: 20px;
}